/* styles.css */
body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-bar {
    width: 80%;
    margin: 20px 0;
    text-align: center;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #E0E0E0;
}

.main-content {
    display: flex;
    width: 80%;
    margin-top: 20px;
}

.color-list {
    width: 30%;
    max-height: 400px;
    overflow-y: scroll;
    border-right: 1px solid #333;
    padding-right: 10px;
}

.color-list ul {
    list-style-type: none;
    padding: 0;
}

.color-list li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.color-list li:hover {
    background-color: #333;
}

.color-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.color-display {
    width: 70%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-image img {
    width: 200px;
    height: 200px;
    border: 2px solid #333;
    margin-bottom: 20px;
}

.color-info {
    text-align: left;
}

.containerbis {
    display: flex;
    border: 2px solid black;
    width: 500px;
    height: 200px;
    position: relative;
}

.color-info {
    width: 25%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
}

.hex {
    background-color: green;
}

.rgb {
    background-color: blue;
}

.color-picker {
    width: 75%;
    height: 100%;
    border: none;
    margin-left: 25%;
    background-color: red;
}
