body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 220px); /* 3 colonnes */
    grid-template-rows: repeat(4, 50px);    /* 4 lignes */
    gap: 10px; /* Espacement entre les boutons */
}

.btn {
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.colored {
    background-color: #8f3985;
}

.default {
    background-color: #ccc; /* Couleur par défaut */
}

.btn:hover {
    opacity: 0.8;
}
